@font-face {
  font-family: "Circular";
  src: url("./fonts/CircularStd-Book.ttf");
}

body {
  margin: 0;
  background: #212121;
  color: #fff;
  font-family: "Circular", "sans-serif";
}

/*
Color Pallete
#1db954	- green
#212121	- dark gray
#121212	- black
#535353	 - gray
#b3b3b3 - light gray
#ffffff - white
*/
